body { margin:0; }

#secondImg{
    background: gray url("./imgs/IMG_1081.jpg") center center no-repeat;
    height:300px;
    background-size: cover;
}

#altSection{
    background-color:#652567;
    background:#652567;
    margin:0;
}

#altSection p{
    padding-top:1em;
    padding-bottom:.5em;
    font-size: 1.5em;
    color:white;
    text-align: center;
    margin:0;
}

/* 
#shreddyIcon{
    vertical-align: middle;
 }   */

strong{
    color:#ef7f17;
}