header{
    background-color:gray;
    background: gray url("./imgs/shreddybanner-sm3.png") top center no-repeat;
    background-size: cover;
    height:200px;
}

 header > h1{
    text-align: center;
    font-family:'Yellowtail',cursive;
    font-weight:lighter;
    font-size: 3em;
    letter-spacing:.025em;
    color:white;
    padding-top:1em;
    margin:0;
}

p{
    margin-left:2em;
    margin-right:2em;
    font-family:"Helvetica Neue",Arial,sans-serif;
    background-size: cover;
    font-size:1em;
    line-height:1.5;
}

#shreddyIcon{
   display:none;
 }
  